<a href="https://colab.research.google.com/github/ThivyaTS/python-class-projects/blob/main/17_Pandas_Useful_Methods_Part_1_apply().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. .apply() method

- Allows you to `apply and broadcast custom function` on a dataframe column.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/tips.csv")

In [ ]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3.511450e+15,Thur672

In [ ]:
df["CC Number"]

0      3.560330e+15
1      4.478070e+15
2      6.011810e+15
3      4.676140e+15
4      4.832730e+15
           ...
239    5.296070e+15
240    3.506810e+15
241    6.011890e+15
242    4.375220e+12
243    3.511450e+15
Name: CC Number, Length: 244, dtype: float64

In [ ]:
df['CC Number'].dtype

dtype('float64')

In [ ]:
df['CC Number'][0]

3560330000000000.0

In [ ]:
number = 3560330000000000.0

print(number)
print(int(number))

3560330000000000.0
3560330000000000

In [ ]:
df['CC Number'] = df['CC Number'].astype(int)

df['CC Number']

0      3560330000000000
1      4478070000000000
2      6011810000000000
3      4676140000000000
4      4832730000000000
             ...
239    5296070000000000
240    3506810000000000
241    6011890000000000
242       4375220000000
243    3511450000000000
Name: CC Number, Length: 244, dtype: int64

In [ ]:
df['CC Number'].dtype

dtype('int64')

In [ ]:
str1 = 'Beautiful'

print(str1[0:4])

Beau

In [ ]:
num1 = 4375220000000

print(num1[0:4])

TypeError: 'int' object is not subscriptable

In [ ]:
print(str(num1[0:4]))

TypeError: 'int' object is not subscriptable

In [ ]:
print(str(num1)[0:4])

4375

In [ ]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560330000000000,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478070000000000,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011810000000000,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676140000000000,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832730000000000,Sun2251

In [ ]:
def first_four(num):
  return str(num)[0:4]

In [ ]:
df['First Four'] = df['CC Number'].apply(first_four)

In [ ]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560330000000000,Sun2959,3560
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478070000000000,Sun4608,4478
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011810000000000,Sun4458,6011
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676140000000000,Sun5260,4676
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832730000000000,Sun2251,4832
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296070000000000,Sat2657,5296
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506810000000000,Sat1766,3506
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011890000000000,Sat3880,6011
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220000000,Sat17,4375
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511450000000000,Thur672,3511

In [ ]:
name1 = "John Doe"

print(name1[5:])

Doe

In [ ]:
name2 = "Michelle Hardin"

print(name2[5:])

lle Hardin

In [ ]:
name1 = "John Doe"

print(name1.split())

['John', 'Doe']

In [ ]:
print(name1.split()[-1])

Doe

In [ ]:
name3 = "Wendy Doe Roger"

print(name3.split()[-1])

Roger

In [ ]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560330000000000,Sun2959,3560
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478070000000000,Sun4608,4478
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011810000000000,Sun4458,6011
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676140000000000,Sun5260,4676
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832730000000000,Sun2251,4832

In [ ]:
def extract_last_name(name):
  return name.split()[-1]

In [ ]:
df['Last Name'] = df['Payer Name'].apply(extract_last_name)

In [ ]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,First Four,Last Name
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560330000000000,Sun2959,3560,Cunningham
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478070000000000,Sun4608,4478,Tucker
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011810000000000,Sun4458,6011,Walters
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676140000000000,Sun5260,4676,Harris
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832730000000000,Sun2251,4832,Carter
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296070000000000,Sat2657,5296,Avila
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506810000000000,Sat1766,3506,Sanders
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011890000000000,Sat3880,6011,Wong
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220000000,Sat17,4375,Dixon
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511450000000000,Thur672,3511,Hardin